version: "3.8"

services:
  app:
    container_name: spec
    build:
      dockerfile: Dockerfile
      context: .
    command: bash -c "bash ./files/generate.sh"
    volumes:
      - .:/files
    environment:
      - STAGING_DOCS=${STAGING_DOCS:-false}