version: "3.8"

services:
  app:
    container_name: spec
    build:
      dockerfile: Dockerfile
      context: .
      cache_from:
        - node:20-alpine
    command: sh -c "sh ./generate.sh"
    volumes:
      - .:/files
    environment:
      - GITHUB_REF_NAME=${GITHUB_REF_NAME:-dev}