openapi: 3.0.3
info:
  title: Formaloo API Documentation
  version: 2.0.0
  description: This is *Formaloo*!
  termsOfService: 'http://example.com/terms/'
  contact:
    name: Support
    email: dev@formaloo.com
    url: 'https://help.formaloo.com/en/'
  externalDocs:
    description: Find out more
    url: 'https://help.formaloo.com/en/'
servers:
  - url: 'http://api.formaloo.net'
    description: Main (production) server
paths:
  /v2.0/businesses/:
    get:
      operationId: businessesList
      description: TBD
      summary: Get Business List
      parameters:
        - in: query
          name: search
          schema:
            type: string
          description: A search query on the list items.
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - businesses
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BusinessShort'
          description: ''
    post:
      operationId: businessesCreate
      description: TBD
      summary: Create Business
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - businesses
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessCreateRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BusinessCreateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BusinessCreateRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCreate'
          description: ''
  '/v2.0/businesses/{businessSlug}/invitations/{invitationKey}/':
    delete:
      operationId: businessesInvitationsDestroy
      description: Use to revoke an invitation to join a workspace or the public join link.
      summary: Delete Workspace Invitation
      parameters:
        - in: path
          name: businessSlug
          schema:
            type: string
          required: true
        - in: path
          name: invitationKey
          schema:
            type: string
            format: uuid
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - businesses
      security:
        - JWT Authentication: []
      responses:
        '204':
          description: No response body
  '/v2.0/businesses/{slug}/':
    get:
      operationId: businessesRetrieve
      description: Use to get a business by it's slug (icas slug).
      summary: Get Business
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - businesses
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Business'
          description: ''
    put:
      operationId: businessesUpdate
      description: Use to update a business' data.
      summary: Edit Business
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - businesses
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BusinessRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BusinessRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Business'
          description: ''
    patch:
      operationId: businessesPartialUpdate
      description: Use to update a business' data.
      summary: Edit Business
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - businesses
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedBusinessRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedBusinessRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedBusinessRequest'
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Business'
          description: ''
  '/v2.0/businesses/{slug}/invitations/':
    get:
      operationId: businessesInvitationsRetrieve
      description: Use to get a workspace's members and invitation data.
      summary: Get Workspace Invitation List
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - businesses
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessInvitaion'
          description: ''
    post:
      operationId: businessesInvitationsCreate
      description: >-
        Send a user's email (or a list of emails) to add or invite them to your
        workspace.
      summary: Create Workspace Invitation
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - businesses
      security:
        - JWT Authentication: []
      responses:
        '201':
          description: No response body
  '/v2.0/businesses/{slug}/members/':
    get:
      operationId: businessesMembersList
      description: Use to get a workspace's members and invitation data.
      summary: Workspace Member
      parameters:
        - in: query
          name: search
          schema:
            type: string
          description: A search query on the list items.
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - businesses
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BusinessMember'
          description: ''
  '/v2.0/businesses/{slug}/members/{username}/':
    delete:
      operationId: businessesMembersDestroy
      description: Use to remove a member from your workspace.
      summary: Workspace Member Remove
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: path
          name: username
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - businesses
      security:
        - JWT Authentication: []
      responses:
        '204':
          description: No response body
  '/v2.0/businesses/{slug}/packages/':
    post:
      operationId: businessesPackagesCreate
      description: TBD
      summary: Purchase Package
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - businesses
      security:
        - JWT Authentication: []
      responses:
        '201':
          description: No response body
  '/v2.0/businesses/{slug}/plans/':
    post:
      operationId: businessesPlansCreate
      description: purchase a plan
      summary: Purchase Plan
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - businesses
      security:
        - JWT Authentication: []
      responses:
        '201':
          description: No response body
  /v2.0/in-app-purchases/:
    post:
      operationId: inAppPurchasesCreate
      description: TBD
      summary: In App Purchase Business Plan Confirm
      parameters:
        - in: query
          name: active_business
          schema:
            type: string
          description: Slug of the business we're performing the action on.
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - in-app-purchases
      security:
        - JWT Authentication: []
      responses:
        '201':
          description: No response body
  /v2.0/oauth/authorize/:
    post:
      operationId: oauthAuthorizeCreate
      description: Returns a JSON Web Token that can be used for authenticated requests.
      summary: Obtain Authorization Token
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - oauth
      security:
        - JWT Authentication: []
      responses:
        '200':
          description: No response body
  /v2.0/oauth/session/:
    post:
      operationId: oauthSessionCreate
      description: TBD
      summary: Obtain Session Token
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - oauth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LoginRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/LoginRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Login'
          description: ''
  /v2.0/oauth2/authorization-token/:
    post:
      operationId: oauth2AuthorizationTokenCreate
      description: >-
        send the credentials in header ('Authorization' = 'Basic {credentials}')
        to obtain a authorization token.
      summary: Authorization Token
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - oauth2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObtainSessionTokenRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ObtainSessionTokenRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ObtainSessionTokenRequest'
        required: true
      security:
        - JWT Authentication: []
        - {}
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObtainSessionToken'
          description: ''
  /v2.0/oauth2/slack/:
    get:
      operationId: oauth2SlackList
      description: TBD
      summary: Get Slack Auth List
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - in: query
          name: search
          schema:
            type: string
          description: A search query on the list items.
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - oauth2
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSlackAuthList'
          description: ''
  '/v2.0/oauth2/slack-auth/{slug}/':
    get:
      operationId: oauth2SlackAuthRetrieve
      description: TBD
      summary: Slack Auth Item
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - oauth2
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlackAuth'
          description: ''
    delete:
      operationId: oauth2SlackAuthDestroy
      description: TBD
      summary: Slack Auth Item
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - oauth2
      security:
        - JWT Authentication: []
      responses:
        '204':
          description: No response body
  /v2.0/packages/:
    get:
      operationId: packagesList
      description: TBD
      summary: Get Packages List
      parameters:
        - in: query
          name: search
          schema:
            type: string
          description: A search query on the list items.
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - packages
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackagesList'
          description: ''
  /v2.0/plans/:
    get:
      operationId: plansList
      description: list of all available plans
      summary: Get Plan List
      parameters:
        - in: query
          name: search
          schema:
            type: string
          description: A search query on the list items.
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - plans
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Plan'
          description: ''
  /v2.0/profile/:
    get:
      operationId: profileRetrieve
      description: Gives full profile information for current user.
      summary: Profile
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - profile
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: ''
    put:
      operationId: profileUpdate
      description: Updates the profile information.
      summary: Profile
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProfileRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProfileRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: ''
    patch:
      operationId: profilePartialUpdate
      description: Updates the profile information.
      summary: Profile
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedProfileRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedProfileRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedProfileRequest'
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: ''
  /v2.0/profile-teams/:
    get:
      operationId: profileTeamsList
      description: TBD
      summary: Get Profile Team List
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - in: query
          name: search
          schema:
            type: string
          description: A search query on the list items.
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - profile-teams
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProfileTeamList'
          description: ''
  /v2.0/profile/change-password/:
    post:
      operationId: profileChangePasswordCreate
      description: Use this endpoint to change user password
      summary: Change Password
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '201':
          description: No response body
  /v2.0/profile/reset-password/email/:
    post:
      operationId: profileResetPasswordEmailCreate
      description: Use this endpoint to send email to user with password reset link.
      summary: Email Password Reset
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailPasswordResetRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmailPasswordResetRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmailPasswordResetRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailPasswordReset'
          description: ''
  /v2.0/profile/reset-password/email/confirm/:
    post:
      operationId: profileResetPasswordEmailConfirmCreate
      description: Use this endpoint to finish email reset password process.
      summary: Email Password Reset Confirm
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailPasswordResetConfirmRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmailPasswordResetConfirmRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmailPasswordResetConfirmRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailPasswordResetConfirm'
          description: ''
  /v2.0/profile/reset-password/mobile/:
    post:
      operationId: profileResetPasswordMobileCreate
      description: Use this endpoint to send sms to user with password reset code.
      summary: Sms Password Reset
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SMSPasswordResetRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SMSPasswordResetRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SMSPasswordResetRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMSPasswordReset'
          description: ''
  /v2.0/profile/reset-password/mobile/confirm/:
    post:
      operationId: profileResetPasswordMobileConfirmCreate
      description: Use this endpoint to finish sms reset password process.
      summary: Sms Password Reset Confirm
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - profile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SMSPasswordResetConfirmRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SMSPasswordResetConfirmRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SMSPasswordResetConfirmRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMSPasswordResetConfirm'
          description: ''
  /v2.0/profiles/:
    post:
      operationId: profilesCreate
      description: Signs up a profile in system.
      summary: Signup
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - profiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileSignupRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProfileSignupRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProfileSignupRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileSignup'
          description: ''
  '/v2.0/profiles/{type}/login/':
    post:
      operationId: profilesLoginCreate
      description: Use this endpoint to login with sms token
      summary: Verify Login
      parameters:
        - in: path
          name: type
          schema:
            type: string
            pattern: ^mobile|email$
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - profiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyLoginRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/VerifyLoginRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/VerifyLoginRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyLogin'
          description: ''
  '/v2.0/profiles/{type}/request-login/':
    post:
      operationId: profilesRequestLoginCreate
      description: Use this endpoint to send a login token to user
      summary: Request Login
      parameters:
        - in: path
          name: type
          schema:
            type: string
            pattern: ^mobile|email$
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - profiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestLoginRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RequestLoginRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RequestLoginRequest'
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestLogin'
          description: ''
  /v2.0/profiles/email/request-verification/:
    post:
      operationId: profilesEmailRequestVerificationCreate
      description: >-
        Use this endpoint to send email to user with password email verification
        link.
      summary: Request Email Verification
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - profiles
      security:
        - JWT Authentication: []
      responses:
        '200':
          description: No response body
  /v2.0/profiles/email/verify/:
    post:
      operationId: profilesEmailVerifyCreate
      description: Use this endpoint to verify user email
      summary: Verify Email
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - profiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/VerifyEmailRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/VerifyEmailRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyEmail'
          description: ''
  /v2.0/profiles/mobile/request-verification/:
    post:
      operationId: profilesMobileRequestVerificationCreate
      description: >-
        Use this endpoint to send email to user with password email verification
        link.
      summary: Request Phone Verification
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - profiles
      security:
        - JWT Authentication: []
      responses:
        '200':
          description: No response body
  /v2.0/profiles/mobile/verify/:
    post:
      operationId: profilesMobileVerifyCreate
      description: Use this endpoint to request verification for user phone number
      summary: Verify Phone
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - profiles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyPhoneRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/VerifyPhoneRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/VerifyPhoneRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyPhone'
          description: ''
  '/v2.0/services/{sourceService}/businesses/{sourceSlug}/':
    get:
      operationId: servicesBusinessesRetrieve
      description: TBD
      summary: Business Service
      parameters:
        - in: path
          name: sourceService
          schema:
            type: string
          required: true
        - in: path
          name: sourceSlug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - services
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessShort'
          description: ''
  '/v2.0/services/{sourceService}/businesses/{sourceSlug}/packages/':
    post:
      operationId: servicesBusinessesPackagesCreate
      description: TBD
      summary: Purchase Package
      parameters:
        - in: path
          name: sourceService
          schema:
            type: string
          required: true
        - in: path
          name: sourceSlug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - services
      security:
        - JWT Authentication: []
      responses:
        '201':
          description: No response body
  '/v2.0/services/{sourceService}/businesses/{sourceSlug}/plans/':
    post:
      operationId: servicesBusinessesPlansCreate
      description: purchase a plan
      summary: Purchase Plan
      parameters:
        - in: path
          name: sourceService
          schema:
            type: string
          required: true
        - in: path
          name: sourceSlug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - services
      security:
        - JWT Authentication: []
      responses:
        '201':
          description: No response body
  /v2.0/social-auth/convert-token/:
    post:
      operationId: socialAuthConvertTokenCreate
      description: |-
        Implements an endpoint to convert a provider token to an access token

        The endpoint is used in the following flows:

        * Authorization code
        * Client credentials
      summary: Convert Token
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - social-auth
      security:
        - JWT Authentication: []
        - {}
      responses:
        '200':
          description: No response body
  /v2.0/social-auth/disconnect-backend/:
    post:
      operationId: socialAuthDisconnectBackendCreate
      description: >-
        An endpoint for disconnect social auth backend providers such as
        Facebook.
      summary: Disconnect Backend
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - social-auth
      security:
        - JWT Authentication: []
      responses:
        '200':
          description: No response body
  /v2.0/social-auth/invalidate-sessions/:
    post:
      operationId: socialAuthInvalidateSessionsCreate
      description: TBD
      summary: Invalidate Sessions
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - social-auth
      responses:
        '200':
          description: No response body
  /v2.0/social-auth/login/:
    post:
      operationId: socialAuthLoginCreate
      description: signup/login base
      summary: Social Login
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - social-auth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SocialRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SocialRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Social'
          description: ''
  /v2.0/social-auth/revoke-token/:
    post:
      operationId: socialAuthRevokeTokenCreate
      description: Implements an endpoint to revoke access or refresh tokens
      summary: Revoke Token
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - social-auth
      security:
        - JWT Authentication: []
        - {}
      responses:
        '200':
          description: No response body
  /v2.0/social-auth/token/:
    post:
      operationId: socialAuthTokenCreate
      description: |-
        Implements an endpoint to provide access tokens

        The endpoint is used in the following flows:

        * Authorization code
        * Password
        * Client credentials
      summary: Token
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - social-auth
      security:
        - JWT Authentication: []
        - {}
      responses:
        '200':
          description: No response body
  /v2.0/access-type-descriptions/:
    get:
      operationId: accessTypeDescriptionsList
      description: Get a list of access types and their descriptions.
      summary: Get Access Type Description List
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - in: query
          name: search
          schema:
            type: string
          description: A search query on the list items.
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - access-type-descriptions
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccessTypeDescriptionList'
          description: ''
  /v2.0/applications/:
    post:
      operationId: applicationsCreate
      description: TBD
      summary: Request Api Key
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - applications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAPIKeyRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateAPIKeyRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateAPIKeyRequest'
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAPIKey'
          description: ''
  /v2.0/available-email-servers/:
    get:
      operationId: availableEmailServersList
      description: Get a list of the email servers available for the user.
      summary: Get Email Server Available List
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - in: query
          name: search
          schema:
            type: string
          description: A search query on the list items.
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - available-email-servers
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEmailSenderShortList'
          description: ''
    post:
      operationId: availableEmailServersCreate
      description: Create an email server for the user.
      summary: Email Server Available List
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - available-email-servers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSenderShortRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmailSenderShortRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmailSenderShortRequest'
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSenderShort'
          description: ''
  /v2.0/board-templates/:
    get:
      operationId: boardTemplatesList
      description: TBD
      summary: Get Board Template List
      parameters:
        - in: query
          name: is_default
          schema:
            type: string
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - in: query
          name: search
          schema:
            type: string
          description: A search query on the list items.
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - board-templates
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBoardTemplateList'
          description: ''
    post:
      operationId: boardTemplatesCreate
      description: TBD
      summary: Board Template List
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - board-templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardTemplateRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BoardTemplateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BoardTemplateRequest'
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardTemplate'
          description: ''
  '/v2.0/boards/{boardSlug}/blocks/':
    get:
      operationId: boardsBlocksList
      description: Get a list of boards belonging to a specific form.
      summary: Get Block List
      parameters:
        - in: path
          name: boardSlug
          schema:
            type: string
          required: true
        - in: query
          name: location
          schema:
            type: string
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - in: query
          name: search
          schema:
            type: string
          description: A search query on the list items.
        - in: query
          name: type
          schema:
            type: string
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - boards
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBlockList'
          description: ''
  '/v2.0/boards/{boardSlug}/blocks/{blockSlug}/':
    get:
      operationId: boardsBlocksRetrieve
      description: Get a block with it's main data.
      summary: Block Action
      parameters:
        - in: path
          name: blockSlug
          schema:
            type: string
          required: true
        - in: path
          name: boardSlug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - boards
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
          description: ''
    put:
      operationId: boardsBlocksUpdate
      description: Update a block.
      summary: Block Action
      parameters:
        - in: path
          name: blockSlug
          schema:
            type: string
          required: true
        - in: path
          name: boardSlug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - boards
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BlockRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BlockRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
          description: ''
    patch:
      operationId: boardsBlocksPartialUpdate
      description: update a block.
      summary: Block Action
      parameters:
        - in: path
          name: blockSlug
          schema:
            type: string
          required: true
        - in: path
          name: boardSlug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - boards
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedBlockRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedBlockRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedBlockRequest'
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Block'
          description: ''
    delete:
      operationId: boardsBlocksDestroy
      description: delete a block.
      summary: Block Action
      parameters:
        - in: path
          name: blockSlug
          schema:
            type: string
          required: true
        - in: path
          name: boardSlug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - boards
      security:
        - JWT Authentication: []
      responses:
        '204':
          description: No response body
  '/v2.0/boards/{boardSlug}/blocks/{blockSlug}/content/':
    get:
      operationId: boardsBlocksContentList
      description: Get content of a block.
      summary: Block Content
      parameters:
        - in: path
          name: blockSlug
          schema:
            type: string
          required: true
        - in: path
          name: boardSlug
          schema:
            type: string
          required: true
        - in: query
          name: created_at
          schema:
            type: string
            format: date
          description: Query over the date.
          examples:
            Example:
              value: '1991-03-27'
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - in: query
          name: search
          schema:
            type: string
          description: A search query on the list items.
        - in: query
          name: submit_time
          schema:
            type: string
            format: date-time
          description: >-
            Filter list using timestamps. You can get item on the exact time,
            before (by adding `_lt` and `_lte`), or after that (by adding `_gt`
            and `_gte`) (e.g. `submit_time_gte`).
          examples:
            Example(valueIsUrlencoded):
              value: 2020-12-01T01%3A05%3A37.555114
              summary: Example (value is urlencoded)
        - in: query
          name: tags
          schema:
            type: string
          description: Comma seperated list.
          examples:
            Example:
              value: 'item1,item2,item3'
        - in: query
          name: tracking_code
          schema:
            type: string
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - boards
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBlockList'
          description: ''
  '/v2.0/boards/{boardSlug}/blocks/form-charts/':
    post:
      operationId: boardsBlocksFormChartsCreate
      description: Use this endpoint to create a form charts block.
      summary: Create Form Charts Block
      parameters:
        - in: path
          name: boardSlug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - boards
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormChartsBlockRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FormChartsBlockRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FormChartsBlockRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormChartsBlock'
          description: ''
  '/v2.0/boards/{boardSlug}/blocks/form-display/':
    post:
      operationId: boardsBlocksFormDisplayCreate
      description: Use this endpoint to create a form display block.
      summary: Create Form Display Block
      parameters:
        - in: path
          name: boardSlug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - boards
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormDisplayBlockRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FormDisplayBlockRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FormDisplayBlockRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormDisplayBlock'
          description: ''
  '/v2.0/boards/{boardSlug}/blocks/form-result/':
    post:
      operationId: boardsBlocksFormResultCreate
      description: Use this endpoint to create a form result block.
      summary: Create Form Result Block
      parameters:
        - in: path
          name: boardSlug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - boards
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormResultBlockCreateRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FormResultBlockCreateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FormResultBlockCreateRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormResultBlockCreate'
          description: ''
  '/v2.0/boards/{boardSlug}/blocks/form-result/{blockSlug}/duplicate/':
    post:
      operationId: boardsBlocksFormResultDuplicateCreate
      description: Use this endpoint to duplicate a form result block.
      summary: Form Result Block Duplicate
      parameters:
        - in: path
          name: blockSlug
          schema:
            type: string
          required: true
        - in: path
          name: boardSlug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - boards
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormResultBlockDuplicateRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FormResultBlockDuplicateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FormResultBlockDuplicateRequest'
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormResultBlockDuplicate'
          description: ''
  '/v2.0/boards/{boardSlug}/blocks/kanbans/':
    post:
      operationId: boardsBlocksKanbansCreate
      description: Use this endpoint to create a form kanban block.
      summary: Create Kanban Block
      parameters:
        - in: path
          name: boardSlug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - boards
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KanbanBlockCreateRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/KanbanBlockCreateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/KanbanBlockCreateRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KanbanBlockCreate'
          description: ''
  '/v2.0/boards/{boardSlug}/blocks/menu/':
    post:
      operationId: boardsBlocksMenuCreate
      description: Use this endpoint to create a menu block.
      summary: Create Menu Block
      parameters:
        - in: path
          name: boardSlug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - boards
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MenuBlockRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MenuBlockRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MenuBlockRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuBlock'
          description: ''
  '/v2.0/boards/{boardSlug}/blocks/reports/':
    post:
      operationId: boardsBlocksReportsCreate
      description: Use this endpoint to create a report block.
      summary: Create Report Block
      parameters:
        - in: path
          name: boardSlug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - boards
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportBlockRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ReportBlockRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ReportBlockRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportBlock'
          description: ''
  '/v2.0/boards/{boardSlug}/blocks/stats/':
    post:
      operationId: boardsBlocksStatsCreate
      description: Use this endpoint to create a stats block.
      summary: Create Stats Block
      parameters:
        - in: path
          name: boardSlug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - boards
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatsBlockRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/StatsBlockRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/StatsBlockRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsBlock'
          description: ''
  /v2.0/boards/available-stats/:
    get:
      operationId: boardsAvailableStatsList
      description: Get a list of available stats with their description.
      summary: Get Available Stats List
      parameters:
        - in: query
          name: search
          schema:
            type: string
          description: A search query on the list items.
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - boards
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoardFormStats'
          description: ''
  /v2.0/categories/:
    get:
      operationId: categoriesList
      description: Get a list of user's forms' categories.
      summary: Get Category List
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - in: query
          name: search
          schema:
            type: string
          description: A search query on the list items.
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - categories
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCategoryList'
          description: ''
    post:
      operationId: categoriesCreate
      description: Create a category for user's forms.
      summary: Create Category
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - categories
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CategoryRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CategoryRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
          description: ''
  '/v2.0/categories/{slug}/':
    get:
      operationId: categoriesRetrieve
      description: Show a category.
      summary: Get Category
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - categories
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
          description: ''
    put:
      operationId: categoriesUpdate
      description: Update a category.
      summary: Edit Category
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - categories
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CategoryRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CategoryRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
          description: ''
    patch:
      operationId: categoriesPartialUpdate
      description: Update a category.
      summary: Edit Category
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - categories
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedCategoryRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedCategoryRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedCategoryRequest'
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
          description: ''
    delete:
      operationId: categoriesDestroy
      description: Delete a category.
      summary: Delete Category
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - categories
      security:
        - JWT Authentication: []
      responses:
        '204':
          description: No response body
  '/v2.0/categories/{slug}/breadcrumb/':
    get:
      operationId: categoriesBreadcrumbRetrieve
      description: Show a category's breadcrumb.
      summary: Category Breadcrumb
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - categories
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryBreadcrumb'
          description: ''
  '/v2.0/categories/{slug}/category-users/':
    get:
      operationId: categoriesCategoryUsersList
      description: TBD
      summary: Get Category Users Of Category List
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - in: query
          name: search
          schema:
            type: string
          description: A search query on the list items.
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - categories
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCategoryUserList'
          description: ''
  '/v2.0/categories/{slug}/users/':
    get:
      operationId: categoriesUsersList
      description: TBD
      summary: Get Users Of Category List
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - in: query
          name: search
          schema:
            type: string
          description: A search query on the list items.
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - categories
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUserShortWithCategoryAccessList'
          description: ''
  /v2.0/category-users/:
    post:
      operationId: categoryUsersCreate
      description: TBD
      summary: Create Category Users
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - category-users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryUserRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CategoryUserRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CategoryUserRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryUser'
          description: ''
  '/v2.0/category-users/{slug}/':
    delete:
      operationId: categoryUsersDestroy
      description: TBD
      summary: Category User Delete
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - category-users
      security:
        - JWT Authentication: []
      responses:
        '204':
          description: No response body
  '/v2.0/draft-rows/{submitCode}/':
    get:
      operationId: draftRowsRetrieve
      description: TBD
      summary: Draft Row
      parameters:
        - in: path
          name: submitCode
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - draft-rows
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RowActions'
          description: ''
    put:
      operationId: draftRowsUpdate
      description: TBD
      summary: Draft Row
      parameters:
        - in: path
          name: submitCode
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - draft-rows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RowActionsRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RowActionsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RowActionsRequest'
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RowActions'
          description: ''
    patch:
      operationId: draftRowsPartialUpdate
      description: TBD
      summary: Draft Row
      parameters:
        - in: path
          name: submitCode
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - draft-rows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedRowActionsRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedRowActionsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedRowActionsRequest'
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RowActions'
          description: ''
  /v2.0/email-servers/:
    get:
      operationId: emailServersList
      description: Get a list of the email servers owned by the user.
      summary: Get Email Server List
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - in: query
          name: search
          schema:
            type: string
          description: A search query on the list items.
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - email-servers
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEmailSenderList'
          description: ''
    post:
      operationId: emailServersCreate
      description: Create a new email server for the user.
      summary: Create Email Server
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - email-servers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSenderRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmailSenderRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmailSenderRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSender'
          description: ''
  '/v2.0/email-servers/{slug}/':
    get:
      operationId: emailServersRetrieve
      description: Get an email server object.
      summary: Get Email Server
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - email-servers
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSender'
          description: ''
    put:
      operationId: emailServersUpdate
      description: Update an email server.
      summary: Edit Email Server
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - email-servers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSenderRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmailSenderRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmailSenderRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSender'
          description: ''
    patch:
      operationId: emailServersPartialUpdate
      description: Update an email server.
      summary: Edit Email Server
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - email-servers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedEmailSenderRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedEmailSenderRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedEmailSenderRequest'
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSender'
          description: ''
    delete:
      operationId: emailServersDestroy
      description: Delete an email server.
      summary: Delete Email Server
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - email-servers
      security:
        - JWT Authentication: []
      responses:
        '204':
          description: No response body
  /v2.0/email-template-examples/:
    get:
      operationId: emailTemplateExamplesList
      description: Use to get a list of email template examples.
      summary: Get Email Template Example List
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - in: query
          name: search
          schema:
            type: string
          description: A search query on the list items.
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - email-template-examples
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEmailTemplateExampleList'
          description: ''
    post:
      operationId: emailTemplateExamplesCreate
      description: Use to create an email template.
      summary: Email Template Example List
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - email-template-examples
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailTemplateExampleRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmailTemplateExampleRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmailTemplateExampleRequest'
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplateExample'
          description: ''
  /v2.0/email-templates/:
    get:
      operationId: emailTemplatesList
      description: Use to get a list of User's email templates.
      summary: Get Email Template List
      parameters:
        - name: page
          required: false
          in: query
          description: A page number within the paginated result set.
          schema:
            type: integer
        - in: query
          name: search
          schema:
            type: string
          description: A search query on the list items.
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - email-templates
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEmailTemplateList'
          description: ''
    post:
      operationId: emailTemplatesCreate
      description: Use to create an email template.
      summary: Create Email Template
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - email-templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailTemplateRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmailTemplateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmailTemplateRequest'
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplate'
          description: ''
  '/v2.0/email-templates/{slug}/':
    get:
      operationId: emailTemplatesRetrieve
      description: Use to get the email template object.
      summary: Get Email Template Object
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - email-templates
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplate'
          description: ''
    put:
      operationId: emailTemplatesUpdate
      description: Use to update the email template object.
      summary: Edit Email Template Object
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - email-templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailTemplateRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EmailTemplateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EmailTemplateRequest'
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplate'
          description: ''
    patch:
      operationId: emailTemplatesPartialUpdate
      description: Use to update the email template object.
      summary: Edit Email Template Object
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - email-templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedEmailTemplateRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedEmailTemplateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedEmailTemplateRequest'
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplate'
          description: ''
    delete:
      operationId: emailTemplatesDestroy
      description: Use to delete the email template object.
      summary: Delete Email Template Object
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - email-templates
      security:
        - JWT Authentication: []
      responses:
        '204':
          description: No response body
  '/v2.0/email-templates/{slug}/copy/':
    post:
      operationId: emailTemplatesCopyCreate
      description: Use to copy an email template.
      summary: Email Template Copy
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - email-templates
      security:
        - JWT Authentication: []
      responses:
        '201':
          description: No response body
  /v2.0/email_verifications/:
    post:
      operationId: emailVerificationsCreate
      description: Create an Email OTP and return UUID for further verification with token.
      summary: Request Email Verification
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - email_verifications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestEmailVerificationOTPRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RequestEmailVerificationOTPRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RequestEmailVerificationOTPRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestEmailVerificationOTP'
          description: ''
  '/v2.0/email_verifications/{uuid}/resend/':
    put:
      operationId: emailVerificationsResendUpdate
      description: Update an Email OTP. (give the UUID and token.)
      summary: Resend Email Verification
      parameters:
        - in: path
          name: uuid
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - email_verifications
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendEmailOTP'
          description: ''
    patch:
      operationId: emailVerificationsResendPartialUpdate
      description: Update an Email OTP. (give the UUID and token.)
      summary: Resend Email Verification
      parameters:
        - in: path
          name: uuid
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - email_verifications
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResendEmailOTP'
          description: ''
  '/v2.0/email_verifications/{uuid}/verify/':
    put:
      operationId: emailVerificationsVerifyUpdate
      description: Update an Email OTP. (give the UUID and token.)
      summary: Verify Email Verification
      parameters:
        - in: path
          name: uuid
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - email_verifications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailOTPRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/VerifyEmailOTPRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/VerifyEmailOTPRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyEmailOTP'
          description: ''
    patch:
      operationId: emailVerificationsVerifyPartialUpdate
      description: Update an Email OTP. (give the UUID and token.)
      summary: Verify Email Verification
      parameters:
        - in: path
          name: uuid
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - email_verifications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedVerifyEmailOTPRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedVerifyEmailOTPRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedVerifyEmailOTPRequest'
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyEmailOTP'
          description: ''
  /v2.0/fields/:
    post:
      operationId: fieldsCreate
      description: >-
        This endpoint is used to create a field with any type. Although it only
        shows the general fields options on the schema, it accepts and excepts
        all the options needed for the given type.
      summary: Create Generic Field
      parameters:
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - fields
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FieldRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FieldRequest'
        required: true
      security:
        - JWT Authentication: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
          description: ''
  '/v2.0/fields/{slug}/':
    get:
      operationId: fieldsRetrieve
      description: Read a field's data
      summary: Get Field
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - fields
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldAction'
          description: ''
    put:
      operationId: fieldsUpdate
      description: >-
        update a field's data. Although it only shows the general fields options
        on the schema, it accepts and excepts all the options needed for the
        given field's type.
      summary: Edit Field
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
            type: string
          description: The application secret provided to the client.
          required: true
      tags:
        - fields
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldActionRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FieldActionRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FieldActionRequest'
      security:
        - JWT Authentication: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldAction'
          description: ''
    patch:
      operationId: fieldsPartialUpdate
      description: >-
        update a field's data. Although it only shows the general fields options
        on the schema, it accepts and excepts all the options needed for the
        given field's type.
      summary: Edit Field
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
        - in: header
          name: x-api-key
          schema:
[...]
